<html>
    <head>
           <script>
            $( function() {
                $( "#fecha").datepicker({
                    inline:true, 
                    minDate: new Date(1922, 1 - 1, 1),
                    maxDate: new Date(2005, 12 - 1, 31),
                });
                $("#savebutton").click(function(){
                    paramentros={
                        'namecliente': $("#namecliente").val(),
                        'apelCliente':$("#apelCliente").val(),
                        'tel':$("#tel").val(),
                        'documento':$("#documento").val(),
                        'fecha':$("#fecha").datepicker('getDate')
                    }
                    
                     $.ajax({
                        type:'POST',
                        url: "./control/clientesCtrl.php",
                        data: paramentros,
                        error: function(info){
                            //alert("error petición xajax");
                            console.log(info);
                            
                        },
                        success: function(info){
                            console.log(info);
                            //parent.location.reload();
                        }
                    });


                });
            } );
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Hello World!</h1>
            <div class="row">
              <div class="col-sm-3" style="background-color:yellow;">
                <p>Lorem ipsum...</p>
              </div>
              <div class="col-sm-9" style="background-color:pink;">
                <p>Sed ut perspiciatis...</p>
              </div>
            </div>
          </div>

    </body>

</html>