<html>

    <head>
           <script>
               $( function() {

                $.ajax({
                    type:'post',
                    data:{'accion':'getCliente'},
                    url:"./control/FacturasCtrl.php",
                    error: function(info){
                            //alert("error petición xajax");
                            console.log(info);
                            
                        },
                        success: function(info){
                            console.log(info);
                            $("#options").html(info);
                            //parent.location.reload();
                        }
                });
                
                


                });

        </script>
    </head>
    <body>
    <form>
        <div class="container"> 
            <div class="form-group">
                <div class="form-group">
                <td>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="sel1">Usuario</label>
                            <select class="form-control" id="selU">
                              <div id="options"></div>
                            </select>
                          </div>
                    </div>
                    
                                         
                </td>
            </div>
                <div>
                    <td>
                        <button type="button" id='savebutton' class="btn btn-primary">Guardar</button>
                    </td>
                    
                </div>
            </div>
        </div>
    </form>

    </body>

</html>