<html>
    <head>
           <script>
            $( function() {
                $("#savebutton").click(function(){
                    paramentros={
                        'nomItem': $("#nomItem").val(),
                        'vlrUnitario':$("#vlrUnitario").val(),
                    }
                    
                     $.ajax({
                        type:'POST',
                        url: "./control/ItemCtrl.php",
                        data: paramentros,
                        error: function(info){
                            //alert("error petición xajax");
                            console.log(info);
                            
                        },
                        success: function(info){
                            console.log(info);
                            //parent.location.reload();
                        }
                    });


                });
            } );
        </script>
    </head>
    <body>
        
        <form>
            <div class="container"> 
                <div class="form-group">
                    <div class="form-group">
                    <td>
                        <div class="form-group">
                            <label for="nomItem">Nombre</label>
                            <input class="form-control" id="nomItem" minlength="3" maxlength="15">
                        </div>
                        
                                   
                        <div class="form-group">
                            <label for="vlrUnitario">Valor Unitario</label>
                            <input class="form-control" id="vlrUnitario" type="number" minlength="1" maxlength="10">
                        </div>

                            
                    </td>
                </div>
                    <div>
                        <td>
                            <button type="button" id='savebutton' class="btn btn-primary">Guardar</button>
                        </td>
                        
                    </div>
                </div>
            </div>
        </form>

    </body>

</html>